* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 55% 19%;
}

.left-top-left {
    padding: 40px;
}

.square {
    width: 15px;
    height: 15px;
    background-color: black;
    rotate: 45deg;
}

.left-top-right {
    justify-self: right;
    padding: 32px;
    text-align: right;
}

h4 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.left-center {
    grid-column: 1/3;
    padding: 40px;
}

.left-center h1 {
    font-size: 6.5vw;
    line-height: 5.6vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.left-center h1:nth-child(2n) {
    text-align: center;

}

.left-bottom {
    grid-column: 1/3;
    width: 70%;
    padding: 40px;
    color: #333;
}

.right {
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 100px;
}

.right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: white;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 50%;
}

.arrow svg {
    width: 40px;
    height: 40px;
}


@media (max-width:600px) {
    .main {
        background-color: white;
        display: block;
        position: relative;
    }

    .left-top-left {
        padding: 20px 25px;
    }

    .square {
        width: 3vw;
        height: 3vw;
        background-color: black;
        rotate: 45deg;
    }

    .left-top-right {
        /* justify-self: right;
    text-align: right; */
        position: absolute;
        top: 0;
        padding: 20px 25px;
    }

    h4 {
        display: none;
        ;
    }

    h5 {
        font-size: 3vw;
        font-weight: 500;
        color: #333;
    }

    .left-center {
        padding: 20px 25px;
        margin-top: 50px;
    }

    .left-center h1 {
        font-size: 10vw;
        line-height: 10.3vw;
    }

    .left-bottom {
        width: 100%;
        padding: 20px 25px;
    }

    .left-bottom p {
        font-size: 3.5vw
    }

    .right {
        height: 50%;
        padding: 20px 25px;
    }

    .right video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .arrow {
        display: none;
    }
}